.bookboard-head {
  width: 100%;
}

.booksearch_form {
  width: 100%;
  position: relative;
}

.booksearch_form i {
  position: absolute;
  right: 30px;
  top: 12px;
  opacity: 0.5;
}

.booksearch {
  width: 100%;
  background-color: var(--purple);
  border-radius: 10px;
  margin-right: 5px;
  text-align: center;
  padding: 10px 0;
}

.takeoutbox-head {
  width: 100%;
  height: 100%;
  background-color: var(--light-gray);
  padding: 7px 0;
  padding-left: 30px;
  margin-top: 20px;
  font-size: 12px;
}

.takeoutbox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 40px 0;
  background-color: var(--white);
}

.takeoutbox-left {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.9px solid rgba(0, 0, 0, 0.2);
}

.takeoutbox-right {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.takeout-image img {
  width: 130px;
  height: 150px;
  object-fit: cover;
}

.takeoutbox-title {
  margin-bottom: 15px;
}

.takeoutbox-title span {
  font-size: 15px;
  font-weight: 800;
}

.takeoutbox-info,
.takeoutbox-state,
.takeoutbox-count {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.takeoutbox-info span {
  font-size: 11px;
}

.info_slash {
  margin: 0 5px;
}

.takeoutbox-state span {
  font-size: 11px;
}

.state_text {
  color: var(--red);
}

.takeoutbox-count {
  margin-bottom: 30px;
}

.takeoutbox-count span {
  font-size: 11px;
}

.takeoutbox-btn button {
  background-color: var(--purple);
  font-size: 13px;
  border-radius: 15px;
  padding: 5px 10px;
  color: var(--color-text);
}

