.mypage-heading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 15px 0;
  background-color: var(--white);
  margin-top: 100px;
  border-top: var(--border);
  border-bottom: var(--border);
  position: relative;
}

.mypage-heading-right {
  width: 33.3%;
  height: 100%;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 25px;
  justify-content: center;
  align-items: center;
}

.mypage-heading-right span {
  color: gray;
  font-size: 11px;
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px 8px;
}

.mypage-heading-info {
  width: 33.3%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mypage-heading-info img {
  width: 85px;
  height: 85px;
}

.mypage-heading-info span {
  font-size: 18px;
}

.mypage-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: var(--white);
  border-bottom: var(--border);
}

.mypageboxborder {
  border-left: var(--border);
  border-right: var(--border);
}

.mypage-box-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 13px 0;
  font-size: 13px;
}

.content-head {
  margin-bottom: 5px;
}

.mypage-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px 20px;
  margin-top: 27px;
}

.mypage-content a {
  width: 100%;
}

.mypage-content-icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: var(--light-gray);
  padding: 13px 20px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.mypage-content-icon-left i {
  margin-right: 8px;
}

.mypage-content-icon-left span {
  font-weight: 500;
  font-size: 13px;
}

.mypagebookbox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--white);
  margin-top: 80px;
}

.mybook {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 4px;
  font-size: 12px;
  background-color: var(--light-gray);
  padding: 9px 7px;
  border-radius: 15px;
}

.mybook-img {
  margin-bottom: 7px;
}

.mybook-img img {
  width: 100px;
  height: 120px;
  object-fit: cover;
}

.mybook-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.returnbtn {
  padding: 3px 6px;
  background-color: var(--purple);
  color: var(--color-text);
  border-radius: 8px;
  font-size: 11px;
  margin-top: 5px;
}