.join {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 100px;
  padding: 0 50px;
}

.joinform {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
}

.join_input {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 12px;
}

.joinform input,
.joinform select {
  width: 100%;
  height: 40px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 0;
  font-size: 13px;
}

.joinform span {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  font-size: 16px;
  font-weight: bold;
}

.join_input label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 13px;
}

.join_btnbox {
  margin-top: 20px;
}

.join_btn {
  background-color: var(--purple);
  width: 100%;
  height: 45px;
  border-radius: 5px;
  font-size: 15px;
  color: var(--color-text);
}