.talkboard {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
}

.talkboard-head {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  border-bottom: var(--border);
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 0 25px;
  padding-bottom: 10px;
}

.talkboard-head_write {
  font-size: 13px;
  padding: 5px 10px;
  background-color: var(--purple);
  border-radius: 25px;
}

.talkboard .talkboard-box {
  width: 85%;
  height: auto;
  padding: 15px;
  background-color: var(--white);
  margin-bottom: 20px;
  border: var(--border);
  border-radius: 15px;
}

.talk-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.talk-content-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 13px;
  margin: 0 10px;
  margin-right: 15px;
}

.talk-content-head img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.talk-content-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.talk-content-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.talk-content-head2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.talk-content-head2 span:last-child {
  font-size: 10px;
  opacity: 80%;
}

.commentwrite-form {
  width: 100%;
}
.commentwrite {
  width: 100%;
  background-color: var(--light-gray);
  border-radius: 10px;
}

.talk-content-main {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 12px;
}

.talk-content-footone {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 10px;
  opacity: 80%;
}

.talk-content-foot {
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  opacity: 80%;
}

.contentactive {
  display: flex;
}

.talk-content-foot-writer span {
  margin-right: 5px;
}

.talk-content-foot-etc {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  padding: 4px 8px;
  border: var(--border);
  border-radius: 25px;
  background-color: var(--light-gray);
}

.commenttext {
  margin-left: 2px;
  margin-right: 5px;
}

.talk-content-comment {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 5px 15px;
  background-color: var(--light-gray);
  border-radius: 10px;
}

.talk-content-commentbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: var(--border);
  padding-bottom: 17px;
  padding-top: 5px;
}

.commentwrite {
  width: 100%;
  height: 70px;
  background-color: var(--white);
  margin-top: 10px;
  margin-bottom: 5px;
}

.commentwrite-form {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.commentbox_name {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 1px;
  font-size: 10px;
}

.comment_name {
  margin-right: 5px;
}

.commentwrite_btn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.commentbtn {
  background-color: var(--purple);
  font-size: 11px;
  padding: 1px 6px;
  border-radius: 5px;
  margin-left: 10px;
  color: var(--color-text);
}

.commentwrite_btn #freeboard_check {
  font-size: 11px;
}