.board_text {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
}

.board_textbox {
  width: 80%;
  height: auto;
  margin-top: 30px;
}

.board_text-input {
  width: 100%;
}

textarea {
  width: 100%;
  height: 350px;
  resize: none;
  overflow-y: hidden;
  font-size: 15px;
}

.board_append {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.board_append #write_submit {
  background-color: var(--purple);
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 14px;
  margin-left: 10px;
  color: var(--color-text);
}

#freeboard_check {
  font-size: 14px;
  color: #d09193;
}