.board_text {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board_textbox {
  width: 80%;
  height: auto;
  margin-top: 30px;
}

.board_text-input {
  width: 100%;
}

textarea {
  margin-top:20px;
  width: 100%;
  height: 300px;
  resize: none;
  overflow-y: hidden;
  font-size: 15px;
}

.board_append {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.board_append #write_submit {
  background-color: var(--purple);
  padding: 8px 15px;
  border-radius: 25px;
  font-size: 16px;
}

.board_append label {
  font-size: 16px;
  color: #d09193;
}
