@import "fixed_head_foot/header.css";
@import "noticeboard/notice.css";
@import "freeboard/board.css";
@import "studyboard/study.css";
@import "bookboard/book.css";
@import "noticeboard/notice_text.css";
@import "freeboard/board_text.css";
@import "fixed_head_foot/footer.css";
@import "login_join/login.css";
@import "login_join/signup.css";
@import "studyboard/studyboard.css";

@font-face {
  font-family: "KOTRAHOPE";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

a {
  color: var(--color-text);
}

body {
  background-color: var(--white);
}

:root {
  --black: #000;
  --white: #fff;
  --blue: #cae8e3;
  --pink: #f6e4d5;
  --yellow: #ffd080;

  --bg-body: #f3f8fe;
  --bg-main: #fdfdfd;
  --bg-second: #c3c2c8;
  --color-hover: #edf0f5;
  --color-text: #151426;

  --light-gray: #f5f5f5;
  --gray: #eeeeee;

  --purple: #c0d3d8;
  /*
  --purple: #a69fef;*/

  --border: 0.5px solid rgba(0, 0, 0, 0.2);
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --box-shadow: 2px 2px 10px silver;
}

.home {
  width: 100%;
  height: 350px;
}

.home-main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 55px;
}

.home-main h3 {
  margin-top: 10px;
  font-size: 35px;
  font-family: "KOTRAHOPE";
}

.home-main img {
  width: 150px;
  height: 160px;
}

.member {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}

.member .member-box {
  width: 90%;
  height: 100%;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

.member .member-main1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.member .member-subject {
  font-size: 13px;
  width: 100%;
}

.member .member-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.member .member-header h3 {
  color: #6155d1;
  font-size: 21px;
  margin-right: 5px;
}

.member .member-header span {
  opacity: 80%;
  font-size: 13px;
}

.member .member-main2 img {
  width: 80px;
  height: 80px;
}

.calendar {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
  padding: 15px 0;
}

.calendar .calendar-subject {
  width: 90%;
  height: 10%;
  display: flex;
  margin-bottom: 13px;
  font-size: 14px;
  font-weight: bolder;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  opacity: 80%;
}

.calendar .calendar-subject i,
.notice .notice-subject i,
.book .book-subject i {
  font-size: 18px;
  margin-left: 10px;
}

.calendar .calendar-box {
  display	:flex;
  width: 85%;
  height: 100%;
  margin-bottom:15px;
  
  /* background-color: var(--light-gray); */
  border-radius: 15px;
}

.notice {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.book {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
}

.notice .notice-subject,
.book .book-subject {
  width: 90%;
  height: 10%;
  display: flex;
  margin-bottom: 13px;
  font-size: 14px;
  font-weight: bolder;
  justify-content: flex-start;
  align-items: center;
  opacity: 80%;
}

.notice-subject a {
  color: var(--color-text);
}

.notice .notice-box {
  width: 85%;
  height: 30%;
  background-color: var(--light-gray);
  border-radius: 25px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.notice .notice-box1 {
  background-color: var(--light-gray);
}

.book .book-box {
  width: 85%;
  height: 100%;
  border-radius: 15px;
  padding: 0 25px;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice .notice-heading {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}

.notice .notice-heading h3,
.notice .notice-heading i {
  font-size: 13px;
  line-height: 8px;
}

.notice .notice-content {
  font-size: 10px;
  display: none;
}

.notice.active {
  height: 300px;
}
.notice .notice-content1.active,
.notice .notice-content2.active {
  display: block;
}

.notice .notice-box1.active,
.notice .notice-box2.active {
  height: 50%;
}

.book .slide {
  width: 120px;
  height: 140px;
  box-shadow: var(--box-shadow);
}

.book .slide .image {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.book .slide .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.book .slide .content {
  display: none;
  padding: 1rem 0;
  text-align: center;
}

.book .slide .content_info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.book .slide .content h3 {
  font-size: 2.5rem;
  color: var(--black);
}

.book .slide .content h2 {
  font-size: 2rem;
  color: var(--black);
}

@media screen and (max-width: 768px) {
  header .icons {
    display: flex;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 10px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    background-color: var(--white);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    display: block;
    padding: 8px;
    margin: 3px;
    font-size: 15px;
  }
}

/*calendar part*/
#calendar {
  margin-left: auto;
  display:grid;
  margin-right: auto;
  width: 100%;
  font-family: "Lato", sans-serif;
}
#calendar_weekdays div {
  display: inline-block;
  vertical-align: top;
}
#calendar_content,
#calendar_weekdays,
#calendar_header {
  position: relative;
  width: 320px;
  overflow: hidden;
  float: left;
  z-index: 10;
}
#calendar_weekdays div,
#calendar_content div {
  width: 40px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  background-color: #fefcfc;
  color: #787878;
}
#calendar_content {
  -webkit-border-radius: 0px 0px 12px 12px;
  -moz-border-radius: 0px 0px 12px 12px;
  border-radius: 0px 0px 12px 12px;
}
#calendar_content div {
  float: left;
}
#calendar_content div:hover {
  background-color: #f8f8f8;
}
#calendar_content div.blank {
  background-color: #fefcfc;
}
#calendar_header,
#calendar_content div.today {
  zoom: 1;
  filter: alpha(opacity=70);
  opacity: 0.7;
}
#calendar_content div.today {
  color: #ffffff;
}
#calendar_header {
  width: 100%;
  height: 37px;
  text-align: center;
  background-color: #ff6860;
  padding: 18px 0;
  -webkit-border-radius: 12px 12px 0px 0px;
  -moz-border-radius: 12px 12px 0px 0px;
  border-radius: 12px 12px 0px 0px;
}
#calendar_header h1 {
  font-size: 1.5em;
  color: #ffffff;
  float: left;
  width: 70%;
}
i[class^="icon-chevron"] {
  color: #ffffff;
  float: left;
  width: 15%;
  border-radius: 50%;
}


.setting {
	width : 100%;
	text-align: right;
    text-decoration: underline;
    font-size: 0.2rem;
    
	
}
