.heading {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 0;
  padding-bottom: 20px;
  background-color: var(--white);
  margin-top: 55px;
}

.heading-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: var(--light-gray);
  padding: 20px 0;
}

.noticeboard {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 15px;
  background-color: var(--white);
}

.noticeboard-box {
  width: 100%;
}

.notice-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: 15px;
  padding-left: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.notice-content-head {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 8px;
  text-align: center;
  font-size: 15px;
}

.notice-content-head span {
  margin-right: 15px;
}

.notice-content-foot {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 13px;
  opacity: 80%;
}

.notice-content-foot span {
  margin-left: 5px;
}
